@import "./fonts.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}
.container {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @media (width: 1024px) {
    padding: 0 40px;
  }
}
.navlink {
  padding-bottom: 35px;
  position: relative;
  @media (max-width: 1024px) {
    padding-bottom: 20px;
  }
  @media (max-width: 425px) {
    padding-bottom: 15px;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #fff;
    transition: 0.5s ease;
    @media (max-width: 1024px) {
      background: #376fff;
    }
  }
  &.active,
  &:hover {
    color: #fff;
    &::before {
      width: 100%;
    }
  }
}
// google-adwords carts style first lg flex second md flex on lg hidden
.lg-cards{
  @media (min-width: 760px) {
    display: grid;
  }
  display: none;
}
.smallscreen-cards {
  @media (min-width: 760px) {
    display: none;
  }
}
.PhoneInputInput{
  background: transparent;
  outline: none;
}